
/**************************************************************** Fuentes  */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uuhjfr');
    src:  url('../fonts/icomoon.eot?uuhjfr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uuhjfr') format('truetype'),
      url('../fonts/icomoon.woff?uuhjfr') format('woff'),
      url('../fonts/icomoon.svg?uuhjfr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }




/************************************************************************ header */
  header {
    background-color: #1b2127;
    color: white;
    font-size: 25px;
    border: 2px solid  #1b2127;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: fixed;  */
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 25px ;
}

.logo {
    width: auto;
    size: auto;
    margin: 10px;
}

.logo-image{
    /*border color: */
    /*border-style: solid*/
    margin: 10px;
    height: 80px;
    width: 80px;
    border:  5px white solid;
    border-radius: 130px;
    padding: 2px;
}

.menu {
    width: 700px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu a{

    font-style: italic;
    font-size: 33px;
    size: auto;
}


  /******************************************************** body */
  
  body{
    font-family: 'Source Sans Pro' sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style:  italic;*/
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    height: min-content;
    /*text-transform: uppercase;*/
    /*text-decoration: dashed; */
    margin: 0px;
    padding: 15px;
    padding-left: 30px;
}

h1 strong {
    color: darkblue;
}





/************************************************************************ hero */

.hero {
    height:  min-content;
    margin : 15px;
    border-radius: 15px;
    padding: 15px;
    background-color: lightgrey;
    box-shadow: 0px 5px 12px 0px black;
}

.hero-container{
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .7fr;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-containerImage{
    /* width: 100%; */
    height: min-content;
    text-align: end;
}

.hero-containerImage img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
}


/********************************************************************** projects */

.portfolio{
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-family: 'Source Sans Pro' sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #1b2127;
    color: white;
    word-spacing: 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 45px;
    padding-right: 20px;
}

.projectContainer {
    background-color: white;
    margin: 10px 5px;
    border: 5px;
    padding: 5px 35px;
    
}

.project {
    height: min-content;
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr .7fr;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.projec-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-date,
.project-description,
.project-url{
    margin: 20px 0px 2;
}

.project-description{
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.project-details{
    width: 50%;
    margin: 5px;
    padding: 10px;
}

.project-imageContainer{
    margin: 2px;
    padding: 2px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.project-image {
    margin: 2px;
    padding: 2px;
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    object-fit: cover;
    object-position: center center;
}

.project-image img{
    width: 100%;
    height: auto;
}

/************************************************************* Eventos */





/************************************************************ footer */

.footer {
    color: white;
    background-color: #1b2127;
    margin: 0px;
    height: auto;

}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
    border:  2px white solid;
    border-radius: 130px;
    padding: 2px;
}

.footer p {
    width: 350px;
    height: inherit;
    margin: 10px;
}

.footer a{
    color: white;
}

